<div class="col-12">
  <div class="form-floating mb-3">
    <input class="form-control" id="roomStandard" type="text"
           placeholder="Enter your Room Standard..."/>
    <label for="roomStandard">Room Standard</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating mb-3">
    <input class="form-control" id="descriptionOtherConvenience" type="text" placeholder="Enter your Description other convenience..."/>
    <label for="descriptionOtherConvenience">Description other convenience</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating mb-3">
    <input class="form-control" id="numberOfFloors" type="text" placeholder="Enter your Number of floors..."/>
    <label for="numberOfFloors">Number of floors</label>
  </div>
</div>
