<!-- Modal -->
<div class="modal fade" id="exampleModalDelete{{idChild}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelDelete">FBI warning!</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{idChild}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteCustomer(idChild)">Delete</button>
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
