<!-- Modal -->
<div class="modal fade" id="exampleModalEdit{{customerChild.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelEdit">FBI Warning!</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="customerForm" (ngSubmit)="editCustomer()">
      <div class="modal-body">
        <label for="id"></label><input type="text" id="id" class="form-control" formControlName="id" name="id" [value]="customerChild.id">

          <label for="name" class="form-label">Name</label>
          <input type="text" id="name" class="form-control" formControlName="name" name="name" [value]="customerChild.name">

          <label for="age" class="form-label">Age</label>
          <input type="text" id="age" class="form-control" formControlName="age" name="age" [value]="customerChild.age">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary">Save changes</button>
        <button type="button" class="btn btn-outline-secondary" data-mdb-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>
