<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>
</head>
<body>
<div class="container">
    <div>
        ID: <span th:text="${product.id}"></span>
    </div>
    <div>
        Name: <span th:text="${product.name}"></span>
    </div>
    <div>
        Price: <span th:text="${product.price}"></span>
    </div>
    <div>
        Description: <span th:text="${product.description}"></span>
    </div>
    <div>
        Manufacturer: <span th:text="${product.manufacturer}"></span>
    </div>
</div>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</body>
</html>