<div class="container-fluid text-center">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>No.</th>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Id Card</th>
      <th>Phone Number</th>
      <th>Customer Type</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of customers; index as i">
      <td>{{i+1}}</td>
      <td>{{element.id}}</td>
      <td>{{element.name}}</td>
      <td>{{element.address}}</td>
      <td>{{element.birthday}}</td>
      <td>{{element.email}}</td>
      <td>{{element.gender}}</td>
      <td>{{element.idCard}}</td>
      <td>{{element.phoneNumber}}</td>
      <td>{{element.customerType.name}}</td>
      <td>
        <button class="btn btn-outline-warning">Edit</button>
      </td>
      <td>
        <button class="btn btn-outline-danger" (click)="showModal(element.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<app-modal-delete [idChild]="idParent" (idChanged)="deleteCustomer($event)"></app-modal-delete>
