<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-html :: myCss"></head>
<body id="page-top">
<!-- Navigation-->
<div th:replace="common-html :: nav"></div>
<div class="container">
    <!-- Contact-->
    <section class="page-section" id="facility">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Contract management!</h2>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdropCreate">
                    Create new Contract
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabelCreate">Create Contract</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="text-danger" id="tableInputNameEdit"></div>
                                    <form id="contactFormEdit" method="post" action="/employee/create">
                                        <!-- startDate input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="startDate" type="date"
                                                   placeholder="Enter your start date..."/>
                                            <label for="startDate">Start Date</label>
                                        </div>
                                        <!-- endDate input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="endDate" type="date"
                                                   placeholder="Enter your end date..."/>
                                            <label for="endDate">End Date</label>
                                        </div>
                                        <!-- deposit input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="deposit" type="text"
                                                   placeholder="Enter your deposit..."/>
                                            <label for="deposit">Deposit</label>
                                        </div>
                                        <!-- phoneNumber input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="totalMoney" type="text" readonly/>
                                            <label for="totalMoney">Total Money</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;">
                                                <option value="">Choice Customer</option>
                                                <option value="">Trung cap</option>
                                            </select>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;">
                                                <option value="">Choice Facility</option>
                                                <option value="">Trung cap</option>
                                            </select>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <div class="text-center m-2">Attach Facility</div>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-outline-primary" id="target">
                                                +
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary">Save</button>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdropAttachFacility"
                     data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content border-primary mt-5">
                            <div class="modal-header bg-primary text-white">
                                <h5 class="modal-title"
                                    id="staticBackdropLabelAttachFacility">List of
                                    attach facility</h5>
                                <button type="button" class="btn-close btnCloseModalAttachFacility"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table table-hover text-center">
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Free wifi</td>
                                        <td>
                                            <a href="" class="btn btn-outline-primary">+</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary">Save
                                </button>
                                <button type="button" class="btn btn-outline-secondary btnCloseModalAttachFacility"
                                        data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="divider"/>
                <p class="text-muted mb-5">Ready to start your next project with us? Send us a messages and we will get
                    back to you as soon as possible!</p>
            </div>
        </div>
        <div class="container mt-3">
            <div class="pagination float-end mb-2">
                <form class="d-flex" action="/customer">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           name="searchValue">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
            </div>
            <table class="table table-hover text-center">
                <thead>
                <tr style="background-color: #f4623a" class="text-light">
                    <th>CN</th>
                    <th>Facility Name</th>
                    <th>Customer Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Deposit</th>
                    <th>Total Money</th>
                    <th colspan="2">Attach Facility</th>
                </tr>
                </thead>
                <tbody id="contractTableBody">
                </tbody>
            </table>
        </div>
    </section>
</div>
<!-- Footer-->
<div th:replace="common-html :: footer"></div>
<div th:replace="common-html :: myJs"></div>
<script>
    //trigger next modal
    $("#target").on("click", function () {
        $('#staticBackdropCreate').modal('hide');
        $('#staticBackdropAttachFacility').modal('show');
    });
    $(".btnCloseModalAttachFacility").on("click", function () {
        $('#staticBackdropAttachFacility').modal('hide');
        $('#staticBackdropCreate').modal('show');
    })
</script>

<script>
    $.ajax({
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        type: "GET", //GET, DELETE, PUT...
        url: "http://localhost:8080/rest/attach-facility",
        success: attachFacilityList
    });

    // $.ajax({
    //     headers: {
    //         'Accept': 'application/json',
    //         'Content-Type': 'application/json'
    //     },
    //     type: "GET", //GET, DELETE, PUT...
    //     url: "http://localhost:8080/rest/contract-detail",
    //     success: function (resultContractDetailList) {
    //         contractDetailList = resultContractDetailList;
    //     },
    //     error: function (resultError) {
    //         console.log('Co loi xay ra');
    //     }
    // });
    function attachFacilityList(attachFacilityList) {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET", //GET, DELETE, PUT...
            url: "http://localhost:8080/rest/contract",
            success: function (contractPage) {
                let contractTableHTML = "";
                for (let i = 0; i < contractPage.content.length; i++) {
                    // console.log(contractPage.content[i].contractDetailList)
                    let totalMoney = 0;
                    for (let j = 0; j < contractPage.content[i].contractDetailList.length; j++) {
                        // console.log(contractPage.content[i].contractDetailList[j])
                        totalMoney += contractPage.content[i].contractDetailList[j].quantity * contractPage.content[i].contractDetailList[j].attachFacility.cost;
                        // console.log(totalMoney)
                    }
                    contractTableHTML += `<tr>
                    <td>${i}</td>
                    <td>${contractPage.content[i].facility.name}</td>
                    <td>${contractPage.content[i].customer.name}</td>
                    <td>${contractPage.content[i].startDate}</td>
                    <td>${contractPage.content[i].endDate}</td>
                    <td>${contractPage.content[i].deposit}</td>
                    <td>${totalMoney}</td>
                    <td>
                        <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop${contractPage.content[i].id}">
                +
                </button>

                    <!-- Modal -->
                <div class="modal fade" id="staticBackdrop${contractPage.content[i].id}" data-bs-backdrop="static"
                data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title fw-bold text-danger" id="staticBackdropLabel">List of
                attach facility</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <table class="table table-hover text-center">
                <tbody>
                <tr>
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Default select example"
                                style="padding-top: 0.625rem !important;" id="selectAttachFacility">`
                    for (let k = 0; k < attachFacilityList.length; k++) {
                        contractTableHTML += `<option value="${attachFacilityList[k].id}">${attachFacilityList[k].name}</option>`
                    }
                    contractTableHTML += `</select>
                    <div class="form-floating mt-3" id="inputAttachFacility">
                    <input class="form-control" id="quantityAdd" type="text"" />
                    <label for="quantityAdd">Quantity</label>
                    </div>
                    </div>
                    </tr>
                    </tbody>
                </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" id="btnAddMoreAttachFacility">Save</button>
                    <button type="button" class="btn btn-outline-secondary"
                    data-bs-dismiss="modal">Close
                    </button>
                </div>
                </div>
                </div>
                </div>
                </td>
                <td>
                <a href="" class="btn btn-outline-primary">List of attach facility</a>
                </td>
                </tr>`
                    ;
                }
                $("#contractTableBody").html(contractTableHTML);
            },
            error: function (resultError) {
                console.log('Co loi xay ra');
            }
        });
    }

</script>
</body>
</html>
