<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/blog/home">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="p-5 text-center bg-image"
         style="height: 200px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">My Music</h1>
                    <a href="" th:href="@{/music/create}" class="btn btn-outline-success btn-lg" role="button">Create
                        Music</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>CN</th>
            <th>ID</th>
            <th>Name</th>
            <th>Singer</th>
            <th>Genre</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, loop : ${musicList}">
            <td th:text="${loop.count}"></td>
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.singer}"></td>
            <td th:text="${item.genre}"></td>
            <td>
                <a href="" th:href="@{/music/edit/{id}(id=${item.id})}" class="btn btn-outline-warning">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</body>
</html>