<body style="background-image: url('../../static/image/img/item/BG2.jpg');">
<!-- Navigation-->
<app-navigation></app-navigation>
<!-- Header -->
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h1 class="text-white font-weight-bold">FACILITY</h1>
        <hr class="divider"/>
      </div>
      <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 mb-5">"Stop worrying about potholes on the road and enjoy that journey".</p>
        <!--                <a class="btn btn-primary btn-xl" href="#content">Get Started!</a>-->
        <button type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">
          Create
        </button>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-primary text-white fw-bold">
                <h5 class="modal-title m-auto" id="staticBackdropLabel">Create Facility</h5>
              </div>
              <div class="modal-body">
                <main>
                  <div class="col-md-12 col-lg-12">
                    <div class="needs-validation">
                      <div class="row g-3">
                        <div class="col-sm-6">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text"
                                   placeholder="Enter your name..."/>
                            <label for="name">Customer name</label>
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="birthday" type="date"
                                   placeholder="Enter your birthday..."/>
                            <label for="birthday">Birthday</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="idCard" type="text"
                                   placeholder="Enter your id card..."/>
                            <label for="idCard">Id Card</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="phoneNumber" type="number"
                                   placeholder="Enter your phone number..."/>
                            <label for="phoneNumber">Phone Number</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="text"
                                   placeholder="Enter your email..."/>
                            <label for="email">Email</label>
                          </div>
                        </div>

                        <div class="col-12">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="address" type="text"
                                   placeholder="Enter your address..."/>
                            <label for="address">Address</label>
                          </div>
                        </div>

                        <div class="col-md-5">
                          <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example"
                                    style="padding-top: 0.625rem !important;">
                              <option value="">Choice Customer Type</option>
                              <option value="">Choice Customer Type</option>
                              <option value="">Choice Customer Type</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-floating mb-3">
                            <select class="form-select" aria-label="Default select example"
                                    style="padding-top: 0.625rem !important;">
                              <option value="">Choice Customer Type</option>
                              <option value="">Choice Customer Type</option>
                              <option value="">Choice Customer Type</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-3">
                          <div class="form-floating mb-3">
                            <input class="form-control" id="zip" type="text"
                                   placeholder="Enter your address..."/>
                            <label for="zip">zip</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </main>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary">Save</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid mb-5 row" style="padding-right: 0 !important;">
  <div class="col-2">
    <div class="card" style="width: 18rem; position: sticky; right: 0; top: 100px; z-index: 1000">
      <img src="../../../assets/image/img/news/news1.jpg"
           class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-outline-info">Read more</a>
      </div>
    </div>
  </div>
  <div class="container-fluid col-8 page-section" id="content">
    <!-- Contact-->
    <section class="container p-3" id="facility">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let item of facility">
          <div class="col">
            <div class="card p-2">
              <img [src]="item.img" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">{{item.descriptionOtherConvenience}}</p>
                <small class="text-muted">Diện tích phòng: {{item.area}}m<sup>2</sup></small>
                <div class="card-text">
                  <a href="#"><i class="bi bi-trash" style="font-size:26px"></i></a>
                  <a [routerLink]="['/facility-edit']"><i class="bi bi-pen" style="font-size:26px"></i></a>
                  <a href="#" class="nav-link link-info float-end"><i class="bi bi-info-circle"></i><small> See
                    more</small></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="container-fluid">
      <div>
        <ul class="pagination float-end">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card" style="width: 18rem; position: sticky; left: 0; top: 100px; z-index: 1000">
      <img src="../../../assets/image/img/news/news2.jpg"
           class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-outline-info">Read more</a>
      </div>
    </div>
  </div>
</div>
<!-- About-->
<section class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">We've got what you need!</h2>
        <hr class="divider divider-light"/>
        <p class="text-white-75 mb-4">"Every now and then go away, have a little relaxation, for when you come
          back to your work your judgment will be surer. Go some distance away because then the work appears
          smaller and more of it can be taken in at a glance and a lack of harmony and proportion is more
          readily seen". – Leonardo da Vinci.</p>
        <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
      </div>
    </div>
  </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0">At Your Service</h2>
    <hr class="divider"/>
    <div class="row gx-4 gx-lg-5">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
          <h3 class="h4 mb-2">Sturdy Themes</h3>
          <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
          <h3 class="h4 mb-2">Up to Date</h3>
          <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
          <h3 class="h4 mb-2">Ready to Publish</h3>
          <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
          <h3 class="h4 mb-2">Made with Love</h3>
          <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
</body>
