<!-- Content -->
<div class="container page-section">
  <main>
    <div class="py-5 text-center">
      <h2>Edit Consignment</h2>
      <p class="lead">
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">AD block</span>
          <span class="badge bg-primary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-light">
            <div class="text-success">
              <h6 class="my-0">Promo code</h6>
              <small>EXAMPLECODE</small>
            </div>
            <span class="text-success">−$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Total (USD)</span>
            <strong>$20</strong>
          </li>
        </ul>

        <div class="card p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8">
        <div class="needs-validation">
          <form [formGroup]="consignmentFormEdit" (ngSubmit)="editConsignment()" *ngIf="consignmentFormEdit">
            <div class="row g-3">
              <div class="col-12">
                <div class="form-floating mb-3">
                  <input class="form-control" formControlName="code" name="code"
                         id="code" type="text" placeholder="Enter your code..."/>
                  <label for="code">Consignment Code</label>
                </div>
                <div class="text-danger"
                     *ngIf="consignmentFormEdit.controls.code.hasError('required') && consignmentFormEdit.controls.code.touched">
                  Code can not be empty
                </div>
                <div class="text-danger"
                     *ngIf="consignmentFormEdit.controls.code.hasError('pattern') && consignmentFormEdit.controls.code.touched">
                  Consignment Code invalid (LH-XXXX)
                </div>
              </div>

              <div class="col-6">
                <div class="form-floating mb-3">
                  <select class="form-select" aria-label="Default select example" formControlName="product"
                          name="product"
                          style="padding-top: 0.625rem !important;" [compareWith]="compareConsignment" [(ngModel)]="consignment.product">
                    <option *ngFor="let product of products" [ngValue]="product">{{product.name}}</option>
                  </select>
                </div>
                <div class="text-danger"
                     *ngIf="consignmentFormEdit.controls.product.hasError('required') && consignmentFormEdit.controls.product.touched">
                  Choice product please!
                </div>
              </div>

              <div class="col-6">
                <div class="form-floating mb-3">
                  <input class="form-control" id="quantity" type="number" formControlName="quantity" name="quantity"
                         placeholder="Enter your quantity..."/>
                  <label for="quantity">Quantity</label>
                </div>
                <div class="text-danger"
                     *ngIf="consignmentFormEdit.controls.quantity.hasError('required') && consignmentFormEdit.controls.quantity.touched">
                  Quantity can not be empty
                </div>
                <div class="text-danger"
                     *ngIf="consignmentFormEdit.controls.quantity.hasError('min') && consignmentFormEdit.controls.quantity.touched">
                  Quantity must be > 0
                </div>
              </div>

              <div class="col-4">
                <div class="form-floating mb-3">
                  <input class="form-control" id="dateIn" type="date" formControlName="dateIn" name="dateIn"
                         placeholder="Enter your dateIn..."/>
                  <label for="dateIn">Date In</label>
                </div>
                <div class="text-danger"
                     *ngIf="consignmentFormEdit.controls.dateIn.hasError('required') && consignmentFormEdit.controls.dateIn.touched">
                  Choice please!
                </div>
              </div>

              <div class="col-4">
                <div class="form-floating mb-3">
                  <input class="form-control" id="dateOut" type="date" formControlName="dateOut" name="dateOut"
                         placeholder="Enter your dateOut..."/>
                  <label for="dateOut">Date Out</label>
                </div>
                <div class="text-danger"
                     *ngIf="consignmentFormEdit.controls.dateOut.hasError('required') && consignmentFormEdit.controls.dateOut.touched">
                  Choice please!
                </div>
              </div>

              <div class="col-4">
                <div class="form-floating mb-3">
                  <input class="form-control" id="dateEnd" type="date" formControlName="dateEnd" name="dateEnd"
                         placeholder="Enter your dateEnd..."/>
                  <label for="dateEnd">Date End</label>
                </div>
                <div class="text-danger"
                     *ngIf="consignmentFormEdit.controls.dateEnd.hasError('required') && consignmentFormEdit.controls.dateEnd.touched">
                  Choice please!
                </div>
              </div>

            </div>
            <hr class="my-4">
            <button class="w-50 btn btn-outline-secondary btn-lg" type="button" [routerLink]="['/list']">Back</button>
            <button class="w-50 btn btn-outline-primary btn-lg" type="submit">Continue to submit</button>
          </form>
        </div>
      </div>
    </div>
  </main>
</div>
