<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>
</head>
<body>
<div class="container mt-3">
    <h2>Detail</h2>
    <table class="table table-hover">
        <thead>
        </thead>
        <tbody>
        <tr>
            <th>ID</th>
            <td th:text="${blog.id}"></td>
        </tr>
        <tr>
            <th>Title</th>
            <td th:text="${blog.title}"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td th:text="${blog.description}"></td>
        </tr>
        <tr>
            <th>Category</th>
            <td th:text="${blog.category.categoryName}"></td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/blog/home" class="btn btn-outline-secondary">Back home</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</body>
</html>