<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Furama Resort</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico"/>
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic">
    rel="stylesheet" type="text/css"/>
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" rel="stylesheet"/>
    <style>
    </style>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container-fluid px-4 px-lg-5">
        <a href="">
            <img src="../static/assets/icon/vinpearl.png" alt="" width="50px" class="navbar-brand">
        </a>
        <a class="navbar-brand" href="">Furama Resort</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Customer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Other
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Facility</a></li>
                        <li><a class="dropdown-item" href="#">Contact</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item disabled" href="#">&copy; Phuong 2022</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Customer</h1>
                <hr class="divider"/>
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">"Stop worrying about potholes on the road and enjoy that journey".</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Create Customer
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Create Customer</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row g-3">

                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="name" type="text" placeholder="Enter your name..."/>
                                            <label for="name">Customer name</label>
                                            <!--                                <div class="alert alert-danger" role="alert">-->
                                            <!--                                    <div></div>-->
                                            <!--                                </div>-->
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="birthday" type="date"
                                                   placeholder="Enter your birthday..."/>
                                            <label for="birthday">Birthday</label>
                                            <!--                                <div class="alert alert-danger" role="alert">-->
                                            <!--                                    <div></div>-->
                                            <!--                                </div>-->
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="idCard" type="text"
                                                   placeholder="Enter your id card..."/>
                                            <label for="idCard">Gender</label>
                                            <!--                                <div class="alert alert-danger" role="alert">-->
                                            <!--                                    <div></div>-->
                                            <!--                                </div>-->
                                        </div>
                                    </div>


                                    <div class="col-4">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="phoneNumber" type="number"
                                                   placeholder="Enter your phone number..."/>
                                            <label for="phoneNumber">Id Card</label>
                                            <!--                                <div class="alert alert-danger" role="alert" >-->
                                            <!--                                    <div></div>-->
                                            <!--                                </div>-->
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="email" type="text" placeholder="Enter your email..."/>
                                            <label for="email">Phone Number</label>
                                            <!--                                <div class="alert alert-danger" role="alert" >-->
                                            <!--                                    <div></div>-->
                                            <!--                                </div>-->
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="address" type="text"
                                                   placeholder="Enter your address..."/>
                                            <label for="address">Email</label>
                                            <!--                                <div class="alert alert-danger" role="alert">-->
                                            <!--                                    <div></div>-->
                                            <!--                                </div>-->
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;">
                                                <option value="" selected disabled>Choice Customer Type</option>
                                                <option value="">Diamond</option>
                                                <option value="">Gold</option>
                                                <option value="">Iron</option>
                                            </select>
                                            <!--                                <div class="alert alert-danger" role="alert">-->
                                            <!--                                    <div></div>-->
                                            <!--                                </div>-->
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="poolArea" type="text"
                                                   placeholder="Enter your address..."/>
                                            <label for="address">Address</label>
                                            <!--                                <div class="alert alert-danger" role="alert">-->
                                            <!--                                    <div></div>-->
                                            <!--                                </div>-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid">
    <!--    <div class="card" style="width: 18rem; position: sticky; left: 0; top: 100px">-->
    <!--        <img src="https://furamavietnam.com/wp-content/uploads/2018/03/Vietnam_Danang_Furama_Ocean-Deluxe-double-bed-F-370x239.jpg"-->
    <!--             class="card-img-top" alt="...">-->
    <!--        <div class="card-body">-->
    <!--            <h5 class="card-title">Card title</h5>-->
    <!--            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's-->
    <!--                content.</p>-->
    <!--            <a href="#" class="btn btn-primary">Go somewhere</a>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="container-fluid" id="content">
        <!-- Contact-->
        <section class="page-section" id="facility">
            <!--            <div class="row gx-4 gx-lg-5 justify-content-center"></div>-->
            <table class="table table-hover">
                <thead>
                <tr class="bg-primary text-white text-center">
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Id Card</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Type</th>
                    <th>Address</th>
                    <th colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center">
                    <td>Phuong</td>
                    <td>1/1/2022</td>
                    <td>Male</td>
                    <td>123456789</td>
                    <td>0987654321</td>
                    <td>tranthienminh135@gmail.com</td>
                    <td>Diamond</td>
                    <td>Viet Nam</td>
                    <td>
                        <button type="button" class="btn btn-outline-danger">Delete</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-warning">Edit</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="container-fluid mt-3">
                <div>
                    <ul class="pagination float-end">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Bootstrap core JS-->
        <script src="../static/js/bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!--    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->

        <script src="../static/js/jquery.min.js"></script>
    </div>
</div>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">We've got what you need!</h2>
                <hr class="divider divider-light"/>
                <p class="text-white-75 mb-4">"Every now and then go away, have a little relaxation, for when you come
                    back to your work your judgment will be surer. Go some distance away because then the work appears
                    smaller and more of it can be taken in at a glance and a lack of harmony and proportion is more
                    readily seen". – Leonardo da Vinci.</p>
                <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider"/>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Sturdy Themes</h3>
                    <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Up to Date</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Ready to Publish</h3>
                    <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Made with Love</h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="bg-light py-5">
    <div class="container">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
        </ul>
        <p class="text-center text-muted">&copy; 2022 Company, Inc</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="../static/js/bundle.min.js"></script>
<!-- SimpleLightbox plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!--    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>-->

<script src="../static/js/jquery.min.js"></script>
</body>
