<div class="container">
  <h1>Danh sách sản phẩm</h1>
  <button (click)="onLogout()" class="btn btn-outline-info">Logout</button>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let product of products; index as i">
      <div class="card">
        <img src="{{product.imgUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.price}}</p>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text">{{product.category.name}}</p>
          <td><button class="btn btn-outline-danger" [routerLink]="['/product/delete', product.id]">Delete</button></td>
          <td><button class="btn btn-outline-warning" [routerLink]="['/product/edit', product.id]">Edit</button></td>
        </div>
      </div>
    </div>
  </div>
</div>

