<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>
</head>
<body>
<div class="container">
    <form action="/user/register" method="post" th:object="${userDto}">
        <div class="mb-3 mt-3">
            <label for="firstName" class="form-label">First Name:</label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter firstName" name="firstName"
                   th:field="*{firstName}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('firstName')}">
            <div th:errors="*{firstName}"></div>
        </div>
        <div class="mb-3 mt-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter lastName" name="lastName"
                   th:field="*{lastName}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('lastName')}">
            <div th:errors="*{lastName}"></div>
        </div>
        <div class="mb-3 mt-3">
            <label for="phoneNumber" class="form-label">Phone Number:</label>
            <input type="text" class="form-control" id="phoneNumber" placeholder="Enter phoneNumber" name="phoneNumber"
                   th:field="*{phoneNumber}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('phoneNumber')}">
            <div th:errors="*{phoneNumber}"></div>
        </div>
        <div class="mb-3 mt-3">
            <label for="age" class="form-label">Age:</label>
            <input type="text" class="form-control" id="age" placeholder="Enter age" name="age" th:field="*{age}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('age')}">
            <div th:errors="*{age}"></div>
        </div>
        <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"
                   th:field="*{email}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('email')}">
            <div th:errors="*{email}"></div>
        </div>
        <button type="submit" class="btn btn-outline-success">Register</button>
        <a href="/user/" class="btn btn-outline-secondary">Reset</a>
    </form>
    <div class="alert alert-success" role="alert" th:if="${success}">
        <div th:text="${success}"></div>
    </div>
</div>
</body>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</html>