<!-- Modal -->
<div class="modal fade" id="exampleModalCreate{{customerChild.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelCreate">FBI Warning!</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you want delete customer {{customerChild.name}} with id = {{customerChild.id}} ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="sendId(customerChild.id)">Save changes</button>
        <button type="button" class="btn btn-outline-secondary" data-mdb-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
