<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns: lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{common-html :: bootstrapCss}"></th:block>
</head>
<body>
<header>
    <div class="p-5 text-center bg-image"
         style="height: 200px;">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-success">
                    <h1 class="mb-3">Music Management</h1>
                    <a th:href="@{/music/create}" class="btn btn-outline-success btn-lg" role="button">Create Music</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container mt-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>CN</th>
            <th>ID</th>
            <th>Song Name</th>
            <th>Singer</th>
            <th>Category</th>
            <th>Song Path</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, loop : ${musicList}">
            <td th:text="${loop.count}"></td>
            <td th:text="${item.id}"></td>
            <td th:text="${item.songName}"></td>
            <td th:text="${item.singer}"></td>
            <td th:text="${item.category}"></td>
            <td>
                <iframe th:src="${item.songPath}"
                        th:title="${item.songName}" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </td>
            <td>
                <a href="" th:href="@{/music/edit/{id}(id=${item.id})}" class="btn btn-outline-warning">Edit</a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        th:data-bs-target="'#staticBackdrop' + ${item.id}">
                    Delete
                </button>

                <!-- Modal -->
                <div class="modal fade" th:id="staticBackdrop + ${item.id}" data-bs-backdrop="static"
                     data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-danger" id="staticBackdropLabel">Warning!</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Do you want delete music <span th:text="${item.songName}" class="text-warning"></span>
                                with id = <span th:text="${item.id}" class="text-warning"></span> ?
                            </div>
                            <div class="modal-footer">
                                <a href="" th:href="@{/music/delete/{id}(id=${item.id})}"
                                   class="btn btn-outline-success">Delete</a>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="~{common-html :: boostrapScript}"></th:block>
</body>
</html>