<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-html :: myCss"></head>
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container-fluid px-4 px-lg-5">
        <a href="/furama">
            <img th:src="@{/assets/icon/vinpearl.png}" alt="" width="50px" class="navbar-brand">
        </a>
        <a class="navbar-brand" th:href="@{/home}">Furama Resort</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Customer</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Other
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#facility">Facility</a></li>
                        <li><a class="dropdown-item" href="#">Contact</a></li>
                        <li><a class="dropdown-item" href="#">Booking</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item disabled" href="#">&copy; Copyright by Phuong 2022</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" action="">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                       name="searchValue">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <!-- Contact-->
    <section class="page-section" id="facility">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Employee management!</h2>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropCreate">
                    Create new Employee
                </button>

                <!-- Modal -->
                <div class="modal fade" id="staticBackdropCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabelCreate">Create Employee</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="text-danger" id="tableInputName"></div>
                                    <form id="contactForm" method="post" action="/employee/create">
                                        <!-- name input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="name" type="text"
                                                   placeholder="Enter your name..."/>
                                            <label for="name">Employee name</label>
                                        </div>
                                        <!-- birthday input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="birthday" type="date"
                                                   placeholder="Enter your birthday..."/>
                                            <label for="birthday">Birthday</label>
                                        </div>
                                        <!-- idCard input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="idCard" type="text"
                                                   placeholder="Enter your id card..."/>
                                            <label for="idCard">Id Card</label>
                                        </div>
                                        <!-- phoneNumber input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="phoneNumber" type="text"
                                                   placeholder="Enter your phone number..."/>
                                            <label for="phoneNumber">Phone Number</label>
                                        </div>
                                        <!-- email input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="email" type="text"
                                                   placeholder="Enter your email..."/>
                                            <label for="email">Email</label>
                                        </div>
                                        <!-- salary input-->
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="salary" type="text"
                                                   placeholder="Enter your salary..."/>
                                            <label for="salary">Salary</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;">
                                                <option value="">Choice Education Degree</option>
                                                <option value="">Trung cap</option>
                                            </select>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;">
                                                <option value="">Choice Position</option>
                                                <option value="">Trung cap</option>
                                            </select>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <select class="form-select" aria-label="Default select example"
                                                    style="padding-top: 0.625rem !important;">
                                                <option value="">Choice Division</option>
                                                <option value="">Trung cap</option>
                                            </select>
                                        </div>

                                        <!-- Submit Button-->
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit">
                                                Submit
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary">Save</button>
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="divider"/>
                <p class="text-muted mb-5">Ready to start your next project with us? Send us a messages and we will get
                    back to you as soon as possible!</p>
            </div>
        </div>
        <div class="container mt-3">
            <table class="table table-hover text-center">
                <thead>
                <tr style="background-color: #f4623a" class="text-light">
                    <th>CN</th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Education Degree</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th colspan="2">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>CN</td>
                    <td>Name</td>
                    <td>Birthday</td>
                    <td>Education Degree</td>
                    <td>Position</td>
                    <td>Salary</td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#staticBackdropDelete">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static"
                             data-bs-keyboard="false"
                             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title fw-bold text-danger" id="staticBackdropLabel">FBI
                                            Warning!</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Do you want to delete ?
                                    </div>
                                    <div class="modal-footer">
                                        <a href="" type="button"
                                           class="btn btn-outline-primary">Submit</a>
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#staticBackdropEdit">
                            Edit
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdropEdit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabelEdit">Edit Employee</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="text-danger" id="tableInputNameEdit"></div>
                                            <form id="contactFormEdit" method="post" action="/employee/create">
                                                <!-- name input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="nameEdit" type="text" placeholder="Enter your name..."/>
                                                    <label for="nameEdit">Employee name</label>
                                                </div>
                                                <!-- birthday input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="birthdayEdit" type="date" placeholder="Enter your birthday..."/>
                                                    <label for="birthdayEdit">Birthday</label>
                                                </div>
                                                <!-- idCard input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="idCardEdit" type="text" placeholder="Enter your id card..."/>
                                                    <label for="idCardEdit">Id Card</label>
                                                </div>
                                                <!-- phoneNumber input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="phoneNumberEdit" type="text" placeholder="Enter your phone number..."/>
                                                    <label for="phoneNumberEdit">Phone Number</label>
                                                </div>
                                                <!-- email input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="emailEdit" type="text" placeholder="Enter your email..."/>
                                                    <label for="emailEdit">Email</label>
                                                </div>
                                                <!-- salary input-->
                                                <div class="form-floating mb-3">
                                                    <input class="form-control" id="salaryEdit" type="text" placeholder="Enter your salary..."/>
                                                    <label for="salaryEdit">Salary</label>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" aria-label="Default select example"
                                                            style="padding-top: 0.625rem !important;">
                                                        <option value="">Choice Education Degree</option>
                                                        <option value="">Trung cap</option>
                                                    </select>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" aria-label="Default select example"
                                                            style="padding-top: 0.625rem !important;">
                                                        <option value="">Choice Position</option>
                                                        <option value="">Trung cap</option>
                                                    </select>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <select class="form-select" aria-label="Default select example"
                                                            style="padding-top: 0.625rem !important;">
                                                        <option value="">Choice Division</option>
                                                        <option value="">Trung cap</option>
                                                    </select>
                                                </div>

                                                <!-- Submit Button-->
                                                <div class="d-grid">
                                                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-primary">Save Changes</button>
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<!-- Footer-->
<div th:replace="common-html :: footer"></div>
<div th:replace="common-html :: myJs"></div>
</body>
</html>
