<div class="container text-center">
  <h1>Create Product</h1>
  <form [formGroup]="productFormCreate" (ngSubmit)="submit()" *ngIf="productFormCreate">
    <table class="table table-hover w-50 m-auto">
      <thead>
      <tr>
        <td>Tên sản phẩm:</td>
        <td><input type="text" formControlName="name" name="name"></td>
      </tr>
      <tr>
        <td>Giá sản phẩm</td>
        <td><input type="number" formControlName="price" name="price"></td>
      </tr>
      <tr>
        <td>Mô tả về sản phẩm</td>
        <td><input type="text" formControlName="description" name="description"></td>
      </tr>
      <tr>
        <td>Danh Mục</td>
        <td>
          <select formControlName="category" name="category" id="" style="width: 100%">
            <option *ngFor="let item of categories" [ngValue]="item">{{item.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><button class="btn btn-outline-success" type="submit">Create</button></td>
      </tr>
      </thead>
    </table>
  </form>

</div>
